<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SimpleServletProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>A simple servlet</description>
    <display-name>SimpleServlet</display-name>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>com.practise.simpleservlet.SimpleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/SimpleServletPath</url-pattern>
  </servlet-mapping>
  
   <servlet>
       <servlet-name>xmlServlet</servlet-name>
       <servlet-class>com.practise.simpleservlet.XmlServlet</servlet-class>
   </servlet>
    
   <servlet-mapping>
    <servlet-name>xmlServlet</servlet-name>
    <url-pattern>/xmlServletPath</url-pattern>
   </servlet-mapping>
    
   <servlet>
    <servlet-name>InitJSP</servlet-name>
    <jsp-file>/initPage.jsp</jsp-file>
    <init-param>
       <param-name>defaultUser</param-name>
       <param-value>Default User Name</param-value>
     </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>InitJSP</servlet-name>
      <url-pattern>/initPage.jsp</url-pattern>
    </servlet-mapping> 
    
    
</web-app>